.block_metadata_status_container {
    height: 20px;
    position: absolute;
    top: 10%;
    right: 20%;
}
.block_metadata_status_container div, .block_metadata_status_shared_icon {
    display: inline-block;
    vertical-align: middle;
}
.block_metadata_status_shared_icon {
    width: 14px;
    height: 14px;
}
.block_metadata_status_shared_icon.enabled {
    fill: green;
}
.block_metadata_status_shared_icon.disabled {
    fill: red;
}
.block_metadata_status_progress {
    background-color: lightgray;
    width: 50px;
    height: 10px;
    border-radius: 25px;
    border: 2px solid lightgray;
}
.block_metadata_status_progress_bar {
    border-radius: 25px;
    float: left;
    background-color: green;
    height: 100%;
}
.block_metadata_status_pourcentage {
    font-size: 14px;
    color: grey;
}