.block_metadata_status_container {
    height: 20px;
    top: 10%;
    right: 20%;
}
.block_metadata_status_shared_icon {
    width: 14px;
    height: 14px;
}
.block_metadata_status_progress {
    width: 50px;
    height: 10px;
    border-radius: 5px;
    border: 2px solid;
}
.block_metadata_status_progress_bar {
    border-radius: 25px;
}
.block_metadata_status_pourcentage {
    width: 40px;
    font-size: 14px;
    color: grey;
}

.block_metadata_status table {
    border-collapse: unset;
    table-layout: fixed;
}
.block_metadata_status td {
    background-color: #f7f7f7;
}
.block_metadata_status td.footer {
    width: 100%;
    padding: 10px 15px;
}
.block_metadata_status td.content .number {
    font-weight: bold;
    font-size: xx-large;
}
.block_metadata_status td.content .text-container {
    display: inline-table;
    font-weight: bold;
    background-color: #1077d2;
    color: white;
}
.block_metadata_status td.content .icon {
    display: inline-block;
    color: white;
}
